m-loadingSpinner {
  position: absolute;
  top: 20px;
  margin: auto;
  width: 100%;
  text-align: center;
}
.m-loadingSpinner__container {
  padding: 6px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: auto;
  box-shadow: 0 $m-boxShadowOffset $m-boxShadowBlur rgba(0, 0, 0, 0.3);
  @include m-theme() {
    background-color: themed($m-bgColor--secondary);
  }
}
.m-loadingSpinner__inner {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  animation: spin 1s linear infinite;

  @include m-theme() {
    border: 6px solid themed($m-borderColor--primary);
    border-top: 6px solid themed($m-blue);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
