<div
  class="m-sidebarNavigation__overlay"
  (click)="toggle()"
  *ngIf="false"
></div>
<div
  class="m-sidebarNavigation"
  [class.m-sidebarNavigation--slide]="layoutMode === 'phone'"
>
  <nav>
    <div class="m-sidebarNavigation__top">
      <a routerLink="/" title="Home" i18n-title>
        <img [src]="cdnUrl + 'assets/logos/bulb.svg'" />
      </a>

      <i class="material-icons" (click)="toggle()">close</i>
    </div>

    <ul>
      <li *ngIf="user">
        <a
          class="m-sidebarNavigation__item m-sidebarNavigation__item--user"
          [routerLink]="['/' + user.username]"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          (click)="toggle()"
        >
          <img
            [src]="cdnUrl + 'icon/' + user.guid + '/small/' + user.icontime"
            alt=""
          />
          <span class="m-sidebarNavigationItem__text">
            @{{ user.username }}
          </span>
        </a>
      </li>

      <li>
        <a
          class="m-sidebarNavigation__item"
          [routerLink]="['/newsfeed/subscriptions']"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          (click)="toggle()"
        >
          <m-tooltip
            icon="home"
            i18n="@@COMMON__NEWSFEED"
            [enabled]="layoutMode === 'tablet'"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            Newsfeed
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text" i18n>
            Newsfeed
          </span>
        </a>
      </li>

      <li>
        <a
          class="m-sidebarNavigation__item"
          routerLink="/discovery"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          (click)="toggle()"
        >
          <m-tooltip
            i18n="@@COMMON__DISCOVER"
            [enabled]="layoutMode === 'tablet'"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <i class="m-icon--hashtag" m-tooltip--anchor>#</i>
            Discovery
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text" i18n>
            Discovery
          </span>
        </a>
      </li>

      <li>
        <a
          class="m-sidebarNavigation__item"
          [routerLink]="['/wallet/canary']"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          (click)="toggle()"
        >
          <m-tooltip
            i18n="@@COMMON__WALLET"
            [enabled]="layoutMode === 'tablet'"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            <m-icon from="custom" iconId="wallet" m-tooltip--icon></m-icon>
            Wallet
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text" i18n>
            Wallet
          </span>
        </a>
      </li>

      <li>
        <a
          class="m-sidebarNavigation__item"
          [routerLink]="['/analytics']"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          (click)="toggle()"
        >
          <m-tooltip
            icon="insert_chart"
            i18n="@@COMMON__ANALYTICS"
            [enabled]="layoutMode === 'tablet'"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            Analytics
          </m-tooltip>
          <span class="m-sidebarNavigationItem__text" i18n>
            Analytics
          </span>
        </a>
      </li>

      <li>
        <a
          class="m-sidebarNavigation__item"
          [routerLink]="['/settings/canary']"
          [routerLinkActive]="'m-sidebarNavigation__item--active'"
          (click)="toggle()"
        >
          <m-tooltip
            icon="more_horiz"
            i18n="@@COMMON__SETTINGS"
            [enabled]="layoutMode === 'tablet'"
            [anchor]="'left'"
            [useParentPosition]="true"
          >
            Settings
          </m-tooltip>

          <span class="m-sidebarNavigationItem__text" i18n>
            Settings
          </span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="m-sidebar--groups" [hidden]="!user">
    <ng-template dynamic-host></ng-template>
  </div>
</div>
