<!-- <div class="m-analytics__spinnerContainer" *ngIf="loading$ | async">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
</div> -->
<m-shadowboxLayout
  *ngIf="selectedMetric && selectedMetric.visualisation"
  [hasHeader]="selectedMetric.visualisation.type === 'chart'"
>
  <m-shadowboxHeader__tabs
    class="m-shadowboxLayout__header"
    *ngIf="selectedMetric.visualisation.type === 'chart'"
    [tabs]="tabs"
    [activeTabId]="activeTabId"
    (tabChanged)="updateMetric($event)"
  ></m-shadowboxHeader__tabs>
  <div
    class="m-shadowboxLayout__body"
    [ngClass]="{ isTable: isTable, isMobile: isMobile }"
  >
    <div class="m-analytics__spinnerContainer" *ngIf="loading$ | async">
      <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
    </div>
    <m-analytics__chart
      *ngIf="selectedMetric.visualisation.type === 'chart'"
    ></m-analytics__chart>
    <m-analytics__table
      *ngIf="selectedMetric.visualisation.type === 'table'"
    ></m-analytics__table>
    <m-analytics__filters
      *ngIf="selectedMetric.visualisation.type === 'chart'"
    ></m-analytics__filters>
  </div>
</m-shadowboxLayout>
