<div class="mf-jumpAnchor" #topAnchor></div>

<m-marketing class="m-pro__marketing" pageTitle="Minds Pro" i18n-pageTitle>
  <div class="m-marketing__main m-marketing__section--style-2">
    <div class="m-grid m-marketing__wrapper">
      <div
        class="m-grid__column-7 m-grid__column-7--tablet m-grid__column-12--mobile m-marketing__body"
      >
        <h1 i18n>
          Minds Pro
        </h1>

        <h2 ngPreserveWhitespaces i18n>
          A new revenue model for <em>creators</em>
        </h2>

        <ul class="m-marketing__points" i18n>
          <li i18n>Get paid for your traffic and referrals</li>
          <li i18n>Launch your own website</li>
          <li i18n>
            Receive multi-currency tips and subscription payments from fans
          </li>
          <li i18n>Supports video, images, blogs and more</li>
        </ul>

        <div class="m-proMarketing__subscription">
          <m-pro--subscription
            (onEnable)="goToSettings()"
          ></m-pro--subscription>
        </div>
      </div>

      <div
        class="m-grid__column-5 m-grid__column-5--tablet m-grid__column-12--mobile m-marketing__image"
      >
        <span>
          <img [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-1.jpg'" />
        </span>
      </div>
    </div>
  </div>

  <ng-container slot="2">
    <m-marketing__asFeaturedIn></m-marketing__asFeaturedIn>

    <!-- Section 2 -->

    <div class="m-marketing__section m-marketing__section--style-3">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>Get paid for your work</h2>

          <p class="m-marketing__description" i18n>
            Receive tips and subscription payments in USD, Bitcoin, Ether or
            Minds Tokens. Earn money for driving pageviews, referring active
            users and sales.
          </p>

          <ul class="m-marketing__points">
            <li i18n>
              $1 for every 1,000 pageviews on your content (increases to $5
              between 100K and 1M pageviews/month)
            </li>

            <li i18n>
              $0.10 for every referred active user
            </li>

            <li i18n>
              25% commission on all referred sales of Pro or
              <a routerLink="/tokens">Minds Tokens</a>
            </li>
          </ul>

          <a
            class="m-marketing__subText"
            routerLink="/minds/blog/how-to-earn-money-with-pro-1046186757943361536"
            >Learn More</a
          >
        </div>
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__image"
        >
          <span>
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-2.jpg'"
            />

            <img
              class="m-marketing__image--2"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-2-ux.png'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Section 3 -->

    <div class="m-marketing__section m-marketing__section--style-4">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>Build your own website</h2>

          <p class="m-marketing__description" i18n>
            Morph your channel into a full blown website with your own subdomain
            or custom domain, newsfeed, logo, theme, categories and footer.
          </p>

          <ul class="m-marketing__points">
            <li i18n>
              Upload videos and photos
            </li>

            <li i18n>
              Publish blogs in an easy-to-use editor
            </li>

            <li i18n>
              Create your own groups
            </li>

            <li i18n>
              Track all of your analytics
            </li>

            <li i18n>
              Custom support from the Minds team
            </li>
          </ul>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__image"
        >
          <span>
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-3.jpg'"
            />

            <img
              class="m-marketing__image--2"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-3-ux.png'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Section 4 -->

    <div class="m-marketing__section m-marketing__section--style-3">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>Regain control of your business online</h2>

          <p class="m-marketing__description" i18n>
            Tired of demonetization, censorship and unfair treatment from
            traditional social networks? Minds offers a fully transparent,
            privacy-focused platform with no bias, hidden algorithms or
            censorship.
          </p>

          <p class="m-marketing__description" i18n>
            Leverage the blockchain and crypto payments to eliminate the
            middleman and maintain autonomy over your revenue streams.
          </p>
        </div>
        <div
          class="m-grid__column-6 m-grid__column-6--tablet m-grid__column-12--mobile m-marketing__image"
        >
          <span class="m-marketing__image--noUxSample">
            <img
              class="m-marketing__image--1"
              [src]="cdnAssetsUrl + 'assets/product-pages/pro/pro-4.jpg'"
            />
          </span>
        </div>
      </div>
    </div>

    <!-- Final section -->

    <div class="m-marketing__section m-marketing__section--tail">
      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-12 m-grid__column-12--mobile m-marketing__body"
        >
          <h2 i18n>Other Pro features</h2>
        </div>
      </div>

      <div class="m-grid m-marketing__wrapper m-marketingSectionTail__table">
        <div
          class="m-grid__column-4 m-grid__column-4--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h3 i18n>Professional media</h3>

          <p class="m-marketing__description" i18n>
            Upload videos or images up to 60 minutes in length, 4 GB in size and
            1080p in resolution. Publish your own blogs with our easy-to-use
            editor.
          </p>
        </div>

        <div
          class="m-grid__column-4 m-grid__column-4--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h3 i18n>Unlock all Plus features</h3>

          <p class="m-marketing__description" i18n>
            Turn off ads, verify your channel, earn a badge and access exclusive
            content.
          </p>

          <p class="m-marketing__description">
            <a routerLink="/plus" target="_blank" i18n>Learn About Plus</a>
          </p>
        </div>

        <div
          class="m-grid__column-4 m-grid__column-4--tablet m-grid__column-12--mobile m-marketing__body"
        >
          <h3 i18n>Harness the network</h3>

          <p class="m-marketing__description" i18n>
            Why separate your website from your social network? Join forces with
            our community of millions of minds.
          </p>
        </div>
      </div>

      <div class="m-grid m-marketing__wrapper">
        <div
          class="m-grid__column-12 m-grid__column-12--mobile m-marketing__body m-marketing__body--extra"
        >
          <button
            class="mf-button mf-button--alt"
            (click)="scrollToTop()"
            data-cy="data-minds-pro-upgrade-button"
            i18n
          >
            Upgrade to Pro
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</m-marketing>
