<div class="m-pageLayout__container">
  <div
    class="m-pageLayout__pane--main"
    m-pageLayout__pane="main"
    style="position: relative;"
  >
    <router-outlet></router-outlet>
  </div>
  <div class="m-discovery__sidebar" m-pageLayout__pane="right">
    <m-discovery__sidebarTags></m-discovery__sidebarTags>
    <m-suggestions__sidebar></m-suggestions__sidebar>
  </div>
</div>
