m-walletTokenOnboarding {
  display: block;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 35px;
  font-weight: 300;

  .m-walletTokenOnboarding__stepsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: 2px;
    @include m-theme() {
      border: 1px solid themed($m-grey-50);
    }
    a {
      text-decoration: underline;
      cursor: pointer;
      display: inline-block;
      font-weight: 400;
      &.disabled {
        text-decoration: none;
        cursor: text;
        @include m-theme() {
          color: themed($m-grey-800);
        }
      }
    }
  }
  [class*='m-walletTokenOnboardingStep--'] {
    display: flex;
    flex-direction: column;
    padding: 19px 27px;
    box-sizing: border-box;
    flex-basis: 50%;
    min-width: 200px;
    @media screen and (max-width: $max-mobile) {
      padding: 19px;
    }
  }
  .m-walletTokenOnboardingStep--verifyPhone {
    @include m-theme() {
      border-right: 1px solid themed($m-grey-50);
    }

    .m-walletTokenOnboardingModal__view--verifyPhone {
      margin-top: 12px;
    }
  }
  .m-walletTokenOnboardingStep__title {
    font-weight: 500;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    @include m-theme() {
      color: themed($m-grey-800);
    }
    a {
      font-size: 14px;
      line-height: 19px;
      margin: 0 8px 0 4px;
      &.stepComplete {
        cursor: default;
        text-decoration: line-through;
        @include m-theme() {
          color: themed($m-grey-200);
        }
      }
    }
    i {
      line-height: 17px;
      @include m-theme() {
        color: themed($m-green);
      }
    }
  }
  .m-walletTokenOnboardingStep__desc {
    font-size: 13px;
    line-height: 18px;
    margin-top: 6px;
    @include m-theme() {
      color: themed($m-grey-600);
    }
  }

  // ***************************************************

  @media screen and (max-width: 890px) {
    [class*='m-walletTokenOnboardingStep--'] {
      flex-basis: 100%;
      padding: 14px 20px;
    }
    .m-walletTokenOnboardingStep--verifyPhone {
      @include m-theme() {
        border-right-width: 0px;
        border-bottom: 1px solid themed($m-grey-50);
      }
    }
    .m-walletTokenOnboardingStep__desc {
      padding-left: 16px;
    }
  }
}
