<!-- -------------------------------------------- -->
<!--- ADDRESS - SETUP - ---------------------------->
<!-- -------------------------------------------- -->
<div class="m-walletSettings">
  <h2>Ether Address</h2>
  <div class="m-walletTertiaryText--desc">
    <p>
      Your Ether address is the same as your on-chain address.<m-tooltip
        icon="help"
      >
        Why? On-chain tokens run on the Ethereum network and require Ether to
        send.
      </m-tooltip>
    </p>
    <p>
      To view or change your address, go to
      <a [routerLink]="walletService.basePath + '/tokens/settings'"
        >token settings</a
      >.
    </p>
  </div>
  <div *ngIf="ethWallet.address" class="m-walletSettings--eth__balanceWrapper">
    <div>
      <p class="m-walletSettings--eth__balanceLabel m-walletTertiaryText--16">
        Ether total
      </p>
      <p class="m-walletSettings--eth__balanceVal">{{ ethWallet.balance }}</p>
    </div>
    <m-shadowboxSubmitButton [routerLink]="['/token', { purchaseEth: 'open' }]">
      Buy Ether
    </m-shadowboxSubmitButton>
  </div>
</div>
