<div *ngIf="!wallet" class="m-wallet__spinner m-wallet__spinner--tokenSettings">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
</div>
<div class="m-walletSettings" *ngIf="wallet">
  <!-- -------------------------------------------- -->
  <!--- ADDRESS - OPTIONS - -------------------------->
  <!-- -------------------------------------------- -->
  <div *ngIf="!display">
    <h2>
      On-chain address
    </h2>
    <ng-container *ngTemplateOutlet="onchainDesc"></ng-container>
    <div class="m-walletSettings__recommendation">
      <i class="material-icons">thumb_up</i><span>RECOMMENDED</span>
    </div>
    <ul class="m-walletSettings__tokenSetupOptionsContainer">
      <li class="m-walletSettings__tokenSetupOption--metamask">
        <div>
          <img
            class="metamask"
            [src]="cdnAssetsUrl + 'assets/ext/metamask.png'"
          />
          <h2>
            MetaMask
          </h2>
        </div>

        <p *ngIf="!hasExternal">
          <a (click)="downloadMetamask()">Install MetaMask</a>
          for the most seamless user experience.
        </p>
        <ng-container *ngIf="hasExternal && !linkingMetamask">
          <p *ngIf="hasExternal">
            Minds recommends using MetaMask for the most seamless user
            experience.
          </p>
          <m-shadowboxSubmitButton
            [disabled]="inProgress"
            [saving]="inProgress"
            (click)="useExternal()"
          >
            Link MetaMask
          </m-shadowboxSubmitButton>
        </ng-container>
        <ng-container *ngIf="linkingMetamask">
          <ng-container *ngIf="hasExternal">
            <!-- <p *ngIf="providedAddress">
              {{ providedAddress }}
            </p> -->
            <p *ngIf="!providedAddress">
              MetaMask is either locked or connected to another network.
            </p>
          </ng-container>
          <!-- <p *ngIf="hasExternal && providedAddress">
            Please ensure you select the "Main Ethereum Network".
          </p> -->
          <p *ngIf="downloadingMetamask">
            Note: You might need to reload Minds after installing and setting up
            MetaMask.
          </p>
        </ng-container>
      </li>

      <li class="m-walletSettings__tokenSetupOption--custom">
        <h2>
          Custom
        </h2>
        <p>
          You don’t need to use MetaMask. You can alternatively manage your own
          address.
        </p>
        <div>
          <a (click)="display = Views.CreateAddress">Create a new address</a>
          <span>or</span>
          <a (click)="display = Views.ProvideAddress">Use your private key</a>
        </div>
      </li>
      <p *ngIf="currentAddress">
        <a
          class="m-walletTertiaryText--backButton"
          (click)="display = Views.CurrentAddress"
          ><i class="material-icons">❮</i
          ><span>Back to current address</span></a
        >
      </p>
    </ul>
    <p class="m-walletTertiaryText--error" *ngIf="error">{{ error }}</p>
  </div>

  <ul *ngIf="display">
    <!-- -------------------------------------------- -->
    <!--- ADDRESS - CREATE ----------------------------->
    <!-- -------------------------------------------- -->
    <li *ngIf="display === Views.CreateAddress">
      <!-- Address not created yet -->
      <h2>
        Create Address
      </h2>
      <p *ngIf="!generatedAccount" class="m-walletTertiaryText--desc">
        Generate a custom address to use instead of MetaMask. Once the address
        is generated, you will be provided with a link to download the address
        and private key.
      </p>
      <m-shadowboxSubmitButton
        *ngIf="!generatedAccount"
        [saving]="inProgress"
        (click)="createAddress()"
      >
        Create Address
      </m-shadowboxSubmitButton>
      <!-- Address created -->
      <p *ngIf="generatedAccount" class="m-walletTertiaryText--desc">
        The address
        <span class="m-walletTertiaryText--emphasis">{{
          generatedAccount.address
        }}</span>
        was successully saved as your on-chain address. Click the button below
        to download its private key - you will need it to conduct transactions,
        so ensure you safely store the private key file.
      </p>

      <m-shadowboxSubmitButton
        *ngIf="generatedAccount"
        [saving]="inProgress"
        (click)="downloadPrivateKey()"
      >
        Download Private Key
      </m-shadowboxSubmitButton>
      <a class="m-walletTertiaryText--backButton" (click)="display = null"
        ><i class="material-icons">❮</i><span>Back to settings</span></a
      >
    </li>
    <!-- -------------------------------------------- -->
    <!--- ADDRESS - PROVIDE ---------------------------->
    <!-- -------------------------------------------- -->
    <li *ngIf="display === Views.ProvideAddress">
      <h2>
        Provide Address
      </h2>
      <p class="m-walletTertiaryText--desc">
        Enter the address that will be stored as your wallet for Minds on-chain
        tokens and Ether payments. To conduct transactions you will need your
        wallet's private key and MetaMask cannot be installed in your browser.
      </p>

      <form
        *ngIf="form"
        [formGroup]="form"
        class="m-walletButtonLayout--buttonOffsetRight"
      >
        <div class="m-walletForm__fieldsContainer">
          <div class="m-walletForm__field--text stretchedField">
            <div class="m-walletForm__row--label">
              <label for="addressInput" i18n>On-chain Address</label>
              <m-tooltip icon="help">
                <ng-container i18n
                  >This address is where you will receive on-chain Minds tokens
                  and Ether payments</ng-container
                >
              </m-tooltip>
            </div>
            <div
              class="m-walletForm__row--input"
              [ngClass]="{
                invalid:
                  (form.dirty || form.touched) &&
                  addressInput.hasError('format')
              }"
            >
              <input
                type="text"
                id="addressInput"
                name="addressInput"
                formControlName="addressInput"
                class="form-control"
                [readonly]="inProgress"
              />
            </div>
            <div class="m-walletForm__row--validation">
              <p
                *ngIf="
                  (form.dirty || form.touched) &&
                  addressInput.hasError('format')
                "
              >
                Invalid address format
              </p>
            </div>
          </div>
        </div>
        <div class="m-walletForm__buttonsContainer">
          <m-shadowboxSubmitButton
            [disabled]="
              inProgress ||
              ((this.form.dirty || this.form.touched) && this.form.invalid)
            "
            [saving]="inProgress"
            (click)="provideAddress()"
          >
            Update on-chain address
          </m-shadowboxSubmitButton>
        </div>
      </form>
      <a class="m-walletTertiaryText--backButton" (click)="display = null"
        ><i class="material-icons">❮</i><span>Back to settings</span></a
      >
    </li>

    <!-- -------------------------------------------- -->
    <!--- ADDRESS - CURRENT ---------------------------->
    <!-- -------------------------------------------- -->
    <li *ngIf="display === Views.CurrentAddress">
      <h2>
        On-chain Address
      </h2>
      <ng-container *ngTemplateOutlet="onchainDesc"></ng-container>

      <p class="m-walletTertiaryText--label">
        Current address
      </p>
      <div class="m-walletSettings__currentAddressContainer">
        <div class="m-walletPrimaryText">{{ currentAddress }}</div>
        <a (click)="display = null">Change Address</a>
      </div>
    </li>
  </ul>
  <p class="m-walletTertiaryText--error" *ngIf="error">{{ error }}</p>
</div>

<!-- -------------------------------------------- -->
<!--- ONCHAIN DESCRIPTION TEMPLATE ----------------->
<!-- -------------------------------------------- -->
<ng-template #onchainDesc>
  <p class="m-walletTertiaryText--desc">
    To receive on-chain payments from other channels (e.g. from a Wire or a
    Boost), you will need an on-chain address. You can change it here at any
    time. Note: your on-chain address is the same as your Ether address.
    <m-tooltip icon="help">
      Why? On-chain tokens run on the Ethereum network and require Ether to
      send.
    </m-tooltip>
  </p>
</ng-template>
