m-walletPhoneVerification {
  .m-walletModal__footnote {
    div {
      &:first-child {
        margin-bottom: 18px;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
    }
  }

  m-phoneInput {
    .m-phoneInput__countryList {
      max-height: 124px;
    }
    .m-phoneInput__wrapper {
      @media screen and (max-width: $max-mobile) {
        min-width: 200px;
      }
    }
  }

  @media screen and (max-width: 771px) {
    .stretchedField {
      .m-walletForm__row--label m-tooltip {
        .m-tooltip--bubble {
          right: 12px;
          width: 174px;
        }
      }
      [class*='m-walletForm__row'] {
        &:not(.m-phoneInput__wrapper) {
          flex-flow: row wrap;
          label,
          input {
            flex: 1 1 100%;
            max-width: 100%;
            &:not(.m-phoneInput__input) {
              min-width: 100%;
            }
          }
        }
      }
    }
  }
}
