/////////////////////////////
// Shared parent styles (tokens/cash)
.m-walletTransactions {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  @include m-theme() {
    color: themed($m-textColor--secondary);
  }
}
/*.m-walletTransactions--cash {
  .m-walletTransactionsTable__row--top {
    justify-content: flex-start;
  }
}
[class*='m-walletTransactionsTable__row'] {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}*/
.m-walletTransactionsTable__row--top {
  margin-bottom: 10px;
  .m-walletTransactionsTable__time {
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
}

.m-walletTransactionsTable__filterWrapper {
  /*display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;*/
  m-dropdownselector {
    vertical-align: center;
    margin: 0;
  }
}

@media screen and (max-width: $min-tablet) {
  .m-walletTransactions {
    margin: 34px 0px;
  }
}
@media screen and (max-width: $max-mobile) {
  .m-walletTransactions {
    margin: 26px 0px;
  }
}
////////////////////////////////////////////////
.m-walletTransactionsTable__wrapper {
  width: 100%;
}
m-walletTransactionsTable {
  table {
    width: 100%;
  }
  .m-walletTransactionsTable__row--spacer {
    height: 42px;
  }

  .m-walletTransactionsTable__row--date {
    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }
  }
  td {
    padding: 8px 0;
    font-size: 14px;
  }
  .m-walletTransactionsTable__time {
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
    @media screen and (max-width: $max-mobile) {
      display: none;
    }
  }
  .m-walletTransactionsTable__row--details {
    margin-bottom: 21px;
  }
  .m-walletTransactionsTable__typeWrapper {
    position: relative;
    i {
      opacity: 0.5;
      @include m-theme() {
        color: themed($m-black);
      }
    }
  }
  [class*='m-walletTransactionsTable__typeWrapper'] {
    position: relative;
    cursor: default;
    vertical-align: middle;

    > * {
      vertical-align: middle;
    }
    > *:first-child {
      margin-right: $minds-margin;
    }
    > span {
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }

  .m-walletTransactionsTable__avatar {
    border-radius: 100%;
    height: 27px;
    width: 27px;
    margin-right: 20px;
  }

  .m-walletTransactionsTable__otherUserLink {
    font-weight: 300;
    @include m-theme() {
      color: themed($m-link);
    }
  }

  .m-walletTransactionsTable__amountWrapper {
    > * {
      vertical-align: middle;
    }
    i {
      transform-origin: center center;
      &.positive {
        transform: rotate(-90deg) translateX(2px);
        @include m-theme() {
          color: themed($m-green-dark);
        }
      }
      &.negative {
        transform: rotate(90deg) translateX(-4px);
        @include m-theme() {
          color: themed($m-red-dark);
        }
      }
      &.neutral {
        transform: translateY(-2px);
        @include m-theme() {
          color: themed($m-blue);
        }
      }
    }
    span {
      font-size: 14px;
      line-height: 19px;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }
  }

  .m-walletTransactionsTable__totalWrapper {
    text-align: right;
  }

  .m-walletTransactionsTable__total--int {
    font-size: 15px;
    line-height: 20px;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }
  }
  .m-walletTransactionsTable__total--frac {
    font-size: 12px;
    line-height: 16px;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }

  .m-walletTransactionsTable__typeWrapper--reward {
    position: relative;
  }
}
.m-walletTransactions__noTxNotice {
  display: flex;
  justify-content: space-around;
  margin-top: 48px;
  p {
    @include m-theme() {
      color: themed($m-textColor--tertiary);
    }
  }
}

.m-walletTransactions__filter {
  justify-content: flex-end;
  flex-direction: row;
  display: flex;

  m-dropdownselector {
    margin: 0;
  }
}
