<div class="m-composer__titleBar">
  <div class="m-composerTitleBar__title">
    <label [for]="inputId" i18n>Compose</label>
  </div>

  <div
    *ngIf="!(isEditing$ | async) && !(attachment$ | async)"
    class="m-composerTitleBar__createBlogTrigger"
    [hidden]="isPosting$ | async"
    (click)="onCreateBlogClick()"
  >
    <ng-container i18n>Create Blog</ng-container>
  </div>

  <m-dropdownMenu
    triggerClass="m-composerTitleBar__menuButton"
    menuClass="m-composerTitleBar__menu"
    [menu]="menu"
    [hidden]="isPosting$ | async"
    data-cy="meatball-menu-trigger"
  >
    <m-icon iconId="more_vert"></m-icon>
  </m-dropdownMenu>
</div>

<ng-template #menu>
  <ul data-cy="meatball-menu">
    <li>
      <m-dropdownMenu
        *ngIf="canChangeVisibility"
        [menu]="visibilityMenu"
        triggerClass="m-dropdownMenu__item"
        data-cy="meatball-menu-visibility"
      >
        <span>Visibility</span>
        <m-icon iconId="chevron_right"></m-icon>
      </m-dropdownMenu>
    </li>

    <li>
      <m-dropdownMenu
        [menu]="licenseMenu"
        triggerClass="m-dropdownMenu__item"
        data-cy="meatball-menu-license"
      >
        <span>License</span>
        <m-icon iconId="chevron_right"></m-icon>
      </m-dropdownMenu>
    </li>
  </ul>
</ng-template>

<ng-template #visibilityMenu>
  <ul data-cy="meatball-menu-visibility-menu">
    <li
      *ngFor="let visibilityItem of visibilityItems"
      (click)="onVisibilityClick(visibilityItem.value)"
    >
      <span class="m-dropdownMenu__item">
        <span>{{ visibilityItem.text }}</span>
        <m-icon
          iconId="check"
          *ngIf="(accessId$ | async) === visibilityItem.value"
        ></m-icon>
      </span>
    </li>
  </ul>
</ng-template>

<ng-template #licenseMenu>
  <ul data-cy="meatball-menu-license-menu">
    <li
      *ngFor="let licenseItem of licenseItems"
      (click)="onLicenseClick(licenseItem.value)"
    >
      <span class="m-dropdownMenu__item">
        <span>{{ licenseItem.text }}</span>
        <m-icon
          iconId="check"
          *ngIf="(license$ | async) === licenseItem.value"
        ></m-icon>
      </span>
    </li>
  </ul>
</ng-template>
