.m-composer__titlebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 36px;
  user-select: none;
}

.m-composerTitlebar__title {
  flex-grow: 1;
  font-size: 24px;
  line-height: 32px;

  > label {
    display: block;
    cursor: pointer;
  }

  @include m-theme() {
    color: themed($m-textColor--primary);
  }
}

.m-composerTitleBar__createBlogTrigger {
  padding: 0 25px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  cursor: pointer;

  @include m-theme() {
    color: themed($m-textColor--secondary);
  }
}

.m-composerTitlebar__menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;

  @include m-theme() {
    color: themed($m-borderColor--primary);
  }
}
