.m-composer__preview {
  position: relative;
  width: 100%;
  height: 300px;

  @include m-theme() {
    background-color: themed($m-bgColor--primary);
  }

  // &.m-composer__preview--portrait {
  //   height: 383px;
  // }

  .m-composerPreview__image,
  .m-composerPreview__video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
  }

  .m-composerPreview__close {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 10;
    padding: 1px;
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;

    @include m-theme() {
      background-color: themed($m-bgColor--primary);
      color: themed($m-textColor--secondary);
      border-color: themed($m-borderColor--primary);
    }
  }
}
