<div class="m-composerRichEmbedPreview">
  <div class="m-composerRichEmbedPreview__thumbnail">
    <img alt="" [src]="getProxiedThumbnail()" />
  </div>

  <div *ngIf="richEmbed?.title" class="m-composerRichEmbedPreview__title">
    {{ richEmbed.title }}
  </div>

  <div *ngIf="richEmbed?.url" class="m-composerRichEmbedPreview__domain">
    {{ extractDomain() }}
  </div>
</div>
