.m-composer__monetize {
  .m-composerPopup__title {
    margin: 0 0 22px;
  }

  .m-composerPopup__text {
    margin: 0 0 28px;
  }

  label:not(.m-composerPopup__trigger),
  .m-composerPopup__label {
    margin: 0 0 9px;
  }

  .m-composerPopupField--1 {
    margin: 0 0 51px 0;
  }

  .m-composerPopupField--2 {
    margin: 0 0 53px 0;
  }
}
