<div class="minds-list">
  <ng-container *mIfFeature="'activity-composer'; else v1NewsfeedPoster">
    <m-composer></m-composer>
  </ng-container>
  <ng-template #v1NewsfeedPoster>
    <minds-newsfeed-poster></minds-newsfeed-poster>
  </ng-template>

  <div class="m-feeds-sorted__query">
    <span>Showing Boosts</span>
  </div>

  <ng-container
    *ngFor="let activity$ of feedsService.feed | async; let i = index"
  >
    <minds-activity
      *ngIf="activity$ | async as activity"
      [object]="activity"
      [boostToggle]="activity.boostToggle"
      [boost]="boostFeed"
      [showBoostMenuOptions]="boostFeed"
      (deleted)="delete($event)"
      [slot]="i + 1"
      class="mdl-card m-border item"
      [attr.data-minds-activity-guid]="activity.guid"
    >
    </minds-activity>
  </ng-container>
  <infinite-scroll
    distance="25%"
    (load)="loadNext()"
    [moreData]="feedsService.hasMore | async"
    [inProgress]="feedsService.inProgress | async"
  >
  </infinite-scroll>
</div>
