<ng-container [ngSwitch]="entity.type" *ngIf="entity">
  <ng-container *ngSwitchCase="'user'">
    <ng-template dynamic-host></ng-template>
  </ng-container>
  <ng-container *ngSwitchCase="'group'">
    <ng-template dynamic-host></ng-template>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <m-activity
      [entity]="entity"
      [displayOptions]="displayOptions"
      [allowAutoplayOnScroll]="allowAutoplayOnScroll"
      (deleted)="delete($event)"
      *mIfFeature="'navigation'; else v1"
    >
    </m-activity>
    <ng-template #v1>
      <minds-activity
        [object]="entity"
        [boostToggle]="entity.boostToggle"
        (deleted)="delete($event)"
        [showRatingToggle]="true"
        [slot]="slot"
        class="mdl-card m-border item"
        [attr.data-minds-activity-guid]="entity.guid"
        [allowAutoplayOnScroll]="allowAutoplayOnScroll"
      ></minds-activity>
    </ng-template>
  </ng-container>
</ng-container>
