.m-notices__sidebar {
  h3 {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    padding: 0 8px;
    @include m-theme() {
      color: themed($m-grey-800);
    }
  }
  .m-newsfeedSidebar__header {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;

    span {
      flex: 1;
    }
    i {
      align-self: center;
      font-size: 16px;
      margin-left: 7px;
      cursor: pointer;
      @include m-theme() {
        color: themed($m-grey-200);
      }
    }
  }
}

.m-noticesSidebar__empty {
  padding: 8px;
  font-size: 10px;
  @include m-theme() {
    color: themed($m-grey-400);
  }
}

.m-noticesSidebar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  @include m-theme() {
    background-color: themed($m-bgColor--secondary);
  }
}

.m-notices__notice {
  text-decoration: none;
  position: relative;
  padding: 12px;
  padding-left: 7px; // border takes 5px (12px)
  display: block;
  box-sizing: border-box;
  @include m-theme() {
    border-left: 5px solid themed($m-white);
  }

  &.m-notices__notice--recent {
    @include m-theme() {
      border-left: 5px solid themed($m-blue);
    }
  }

  h3 {
    margin: 0;
    font-size: 13px;
    line-height: 1;
    font-weight: 800;
    padding: 0;
    display: block;
    @include m-theme() {
      color: themed($m-grey-800);
    }
  }
  p {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 0;
    @include m-theme() {
      color: themed($m-grey-600);
    }
  }
}

.m-noticesNotice__cta {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px 12px;
  font-size: 11px;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  @include m-theme() {
    color: themed($m-blue);
  }
}

.m-noticesSidebarList__item {
  @include m-theme() {
    border-bottom: 1px solid themed($m-grey-50);
  }

  &:last-of-type {
    border-bottom: 0;
  }

  .m-noticesSidebarListItem__body {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    flex-direction: row;
    width: calc(100% - 36px);

    h4 {
      margin: 0;
      font-size: 13px;
      line-height: 18px;
      font-weight: 600;
      @include m-theme() {
        color: themed($m-grey-800);
      }
    }
    > div {
      width: 100%;
      max-width: calc(100% - 68px);
    }
    > div > span {
      overflow: hidden;
      position: relative;
      display: block;
      text-overflow: ellipsis;
      font-size: 11px;
      line-height: 11px;
      white-space: nowrap;
      padding-right: 8px;
      font-weight: 400;
      @include m-theme() {
        color: themed($m-grey-400);
      }
    }
    > i {
      font-size: 13px;
      margin-right: 8px;
    }
    .m-btn {
      height: 30px;
      font-size: 10px;
      letter-spacing: 1px;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;

      i {
        display: block;
        font-size: 16px;
        padding: 0;
        margin: 0;
      }
      span {
        display: none;
      }
    }
  }
}

.m-notices__loadMore {
  cursor: pointer;
  font-size: 10px;
  font-weight: 600;
  text-align: right;
  width: 100%;
  display: block;
  padding: 4px 8px;
  box-sizing: border-box;
  @include m-theme() {
    color: themed($m-grey-200);
  }
}
