<div class="m-settingsV2 m-page m-pageLayout__container">
  <m-nestedMenu
    class="m-settingsV2__mainMenu m-pageLayout__pane--right"
    [ngClass]="{ onMainNav: onMainNav }"
    [disableActiveClass]="onMainNav"
    [menus]="mainMenus"
    parentRoute="/settings/canary"
    (itemSelected)="mainMenuItemSelected()"
  ></m-nestedMenu>

  <div
    class="m-settingsV2__secondaryPane m-pageLayout__pane--main"
    [ngClass]="{ onSecondaryNav: !onMainNav }"
  >
    <m-nestedMenu
      *ngIf="secondaryPaneIsMenu"
      class="m-settingsV2__secondaryMenuView"
      isNested="true"
      [menus]="secondaryMenus[menuHeaderId]"
      (clickedBack)="secondaryMenuClickedBack()"
    ></m-nestedMenu>

    <ng-container *ngIf="!secondaryPaneIsMenu">
      <div class="m-settingsV2__settingsView">
        <div class="m-settingsV2__headerWrapper">
          <div class="m-settingsV2__backButton">
            <a (click)="goBack()">
              <i class="material-icons">arrow_back</i><span>Back</span>
            </a>
          </div>
          <div class="m-settingsV2__headerLabel">{{ routeData.title }}</div>
        </div>
        <div class="m-settingsV2__viewWrapper">
          <div class="m-settingsV2__desc" *ngIf="routeData?.description">
            {{ routeData?.description }}
          </div>
          <div class="m-formWrapper" [hidden]="!init">
            <router-outlet (activate)="onActivate($event)"></router-outlet>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- <div class="m-settingsV2__secondarySpacer"></div> -->
  </div>
</div>
