.m-commentsEntityOutlet__expand {
  font-weight: 400;
  padding: 0 20px 6px;
  @include m-theme() {
    color: themed($m-blue);
  }
  cursor: pointer;
}

m-comments__entityOutlet {
  .m-comment--poster {
    padding-bottom: 0;
  }
}
