m-walletBalance--tokens {
  display: block;
  max-width: 700px;
  > * {
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    @include m-theme() {
      color: themed($m-grey-300);
    }
  }
  .m-walletBalance--tokens__equationWrapper {
    display: flex;
    justify-content: space-between;
  }
  .m-walletBalance--tokens__equationLeft {
    display: flex;
    flex-flow: row wrap;
  }
  .m-walletBalance--tokens__buyButtonWrapper {
    cursor: default;
    min-width: 105px;
    m-shadowboxSubmitButton {
      margin-left: 36px;
    }
  }
  .m-walletBalance--tokens__balanceTitle {
    position: relative;
    m-tooltip {
      position: relative;
      margin-left: 4px;
      .m-tooltip {
        margin: 0;
      }
    }
    .m-tooltip--bubble {
      bottom: 18px;
      margin-left: 12px;
      min-width: 100px;
    }
  }
  .m-walletBalance--tokens__balanceWrapper--subtotal:last-child {
    .m-walletBalance--tokens__balanceTitle {
      .m-tooltip--bubble {
        position: absolute;
        right: -24px;
      }
    }
  }
  .m-walletBalance--tokens__balanceWrapper--total {
    .m-walletBalance--tokens__balanceTitle {
      font-size: 16px;
      line-height: 21px;
    }
    .m-walletBalance--tokens__balanceVal--int {
      font-size: 24px;
      line-height: 32px;
    }
    .m-walletBalance--tokens__balanceVal--frac {
      font-size: 17px;
      line-height: 23px;
    }
  }

  .m-walletBalance--tokens__balanceWrapper--subtotal {
    .m-walletBalance--tokens__balanceTitle {
      min-width: 78px;
    }
    .m-walletBalance--tokens__balanceValWrapper {
      font-size: 13px;
      line-height: 18px;
    }
    .m-walletBalance--tokens__balanceVal--int {
      font-size: 16px;
      line-height: 21px;
    }
    .m-walletBalance--tokens__balanceVal--frac {
      font-size: 13px;
      line-height: 18px;
    }
    a {
      display: inline-block;
      margin-top: 14px;
      font-size: 14px;
      line-height: 19px;
    }
  }
  .m-walletBalance--tokens__balanceValWrapper {
    font-weight: 500;
    margin-top: 8px;
  }
  .m-walletBalance--tokens__balanceVal--int {
    @include m-theme() {
      color: themed($m-grey-800);
    }
  }

  .m-walletBalance--tokens__equationSymbol {
    align-self: center;
    margin-bottom: 36px;
    font-size: 20px;
    line-height: 23px;
  }

  a:not(.m-walletBalance--tokens__buyButtonWrapper) {
    font-weight: 300;
    text-decoration: underline;
    cursor: pointer;
  }

  .m-walletBalance--tokens__learnMore {
    font-size: 14px;
    line-height: 19px;
    margin-top: 38px;
  }
  .m-walletBalance--tokens__payout {
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }
  .m-walletBalance--tokens__payoutEstimate {
    font-weight: 500;
    @include m-theme() {
      color: themed($m-grey-500);
    }
  }

  m-shadowboxSubmitButton {
    min-width: 105px;
    button.m-shadowboxSubmitButton {
      height: 35px;
      max-height: 35px;
      min-width: 0;
      min-height: 0;
    }
    .m-shadowboxSubmitButton__status--unsaved {
      line-height: 15px;
    }
  }

  @media screen and (max-width: 800px) {
    .m-walletBalance--tokens__equationLeft {
      flex-direction: column;
    }
    .m-walletBalance--tokens__buyButtonWrapper {
      m-shadowboxSubmitButton {
        margin-left: 0;
        margin-top: 22px;
      }
    }
  }
  @media screen and (max-width: $min-tablet) {
  }

  @media screen and (max-width: $max-mobile) {
    .m-walletBalance--tokens__payout {
      display: none;
    }
  }
}
